/node_modules
/backend/node_modules
/deployment/backend/node_modules
/admin_backend/node_modules
/admin-frontend/node_modules
/dist
.parcel-cache
*.zip
*.tar.gz
*.iso
/git_exclude
/coverage
.env

# Frontend
# Logs
/frontend/logs
/frontend/*.log
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pnpm-debug.log*
/frontend/lerna-debug.log*


/frontend/node_modules
/deployment/frontend/node_modules
/frontend/dist
/frontend/dist-ssr
/frontend/*.local

# Editor directories and files
/frontend/.vscode/*
/frontend/!.vscode/extensions.json
/frontend/.idea
/frontend/.DS_Store
/frontend/*.suo
/frontend/*.ntvs*
/frontend/*.njsproj
/frontend/*.sln
/frontend/*.sw?